@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Poppins&display=swap');


/*////////////////////////TASKS//////////////////////////////////////*/
.show-task{
    background-color: yellow;
    height: 300px;
    padding: 10px;
    border-radius: 20px;
    color: #000;
    font-weight: bolder;
    padding: 5px;
    overflow-wrap: break-word;
    overflow-y: auto;
}
.screen-task{
    background-color: grey;
    margin-top: 10px;
    min-height: 200px;
    color: #000;
    font-weight: bolder;
    font-size: 1.3rem;
    padding: 5px;

}
.create-task{
    background-color: darkblue;
    min-height: 500px;
    padding: 10px;
    border-radius: 5%;
}
li{
    margin: 5px 0;

}
h5{
    background-color: yellow;
    color: #000;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
}

header{
    text-align: center;
    padding: 20px;
    background-color: #000;
    width: 100%;
    position: fixed;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.my-card{
    margin-top: 20px;
    background-color: yellow;
    color: #000;
    padding: 20px;
    font-size: 1.6rem;
}


.my-links{

}
.my-houses{
    width: 100%;
    /*display: flex;*/
}

.my-main{
    background-color: #000;
    color: yellowgreen;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Mulish',sans-serif;
    margin: 3%;
    /*display: flex;          !*coloca tudo em linha*!*/
    /*flex-direction: column; !*coloca tudo em coluna*!*/
    /*align-items: center;    !*alinha horizontalmente*!*/
    /*justify-content: center;!*alinha tudo verticalmente com uso de height:100vh*!*/
    /*height: 100vh;*/
    /*overflow: hidden; !*BARRA DE SCROLL DOWN, HIDDEN ESCONDIDA*!*
    /*overflow-x: hidden; !*REMOVER BARRA DE SCROLL HORIZONTAL*!*/
}

.my-btn{
    margin: 20px;
}


/*///////////////////////////////HIDE ME //////////////////////////////////////*/
#hideMe {
    -moz-animation: cssAnimation 0s ease-in 2s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 2s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 2s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 2s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}
